html, body{
	width: 100%;
	margin: 0px;
	height: 100%;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.map {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.title{
	font: 400 111px Verdana;
	color: #ffffff;
	margin: auto;
}

.subtitle{
	margin-top: -20px;
	color: #ffffff;
	font: 400 38px 'Times New Roman';
}

.slide{
	box-sizing:border-box;
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
}

ul{
	padding: 0;
}

.planeLeft{
	
}

.planeRight{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg); 
}

/*======================= Slide 0 ================= */
#slide0{
	border-top: #22a7f0 14px solid;
	background-color: #1e8bc3;
	text-align: center;
}

#titleContainer{
	display: inline-block;
	margin: auto;
	margin-top: 20px;
	list-style-type: none;
	text-align: center;
	padding: 0;
}

#titleContainer div{
	margin-right: 40px;
	float: left;
	list-style-position:inside;
}

#titleContainer div:last-child{
	margin:0;
}

#cloud{
	box-sizing: border-box;
	width: 440px;
	height: 240px;
	margin: auto;
	margin-top: -130px;
	padding: 20px 0;
	display: block;
	z-index: 1;
	position: relative;

	background-image: url("img/cloud.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#cloud span{
	display: block;
	text-align: center;
	font: 400 50px Verdana;
	line-height: 100px;
	color: #1e8bc3;
	vertical-align: middle;
	cursor: pointer;
}

#menu{
	width: 80%;
	margin-top: 20px;
	display: inline-block;
}

#FlyMenu h2{
	margin-top: 20%;
	margin-bottom: 0;
}

#FlyMenu img{
	width: 70%;
	height: auto;
}

#FlyMenu .pellet{
	margin-top: 40px;
}

.optionMenu{
	width: 33%;
	float: left;
}

.pellet{
	display: inline-block;
	width: 200px;
	height: 200px;
	text-align: center;
	border-radius: 50%;
	font: 400 50px Verdana;
	color: #1e8bc3;
	background-color: white;
	line-height: 200px;
	vertical-align: middle;
	transition: background-color 2s;
	transition: color 1s;
	position: relative;
}

.pellet:hover{
	background-color: #22a7f0;
	color: white;
	cursor: pointer;
}

.infoList{
	list-style-type: none;
	font: 400 30px Verdana;
	color: #ffffff;
}

#titleContainer .plane{
	width: 170px;
	height: 170px;
}

/*======================= Slide 1 (ATC) ================= */

#slide1{
	
}

#ATC_title{
	display: inline-block;
	z-index: 1000;
	position: absolute;
	margin-top: 30px;
}

#ATC_title h3{
	font: 400 80px Verdana;
	color: #ffffff;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
}

#ATCPellet{
	background-color: #1e8bc3;
}

#ATCPellet img{
	margin: 25px 25px;
	width: 150px;
	height: 150px;
}

.map {
	z-index: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#popup {
	position: static;
	box-sizing: border-box;
	background-color: #1e8bc3;
	padding: 10px;
	border-radius: 10px;
	margin-top: 15px;
	margin-left: -50%;
	width: 100%;
	color: white;
	font: 400 18px Verdana;
	text-align: center;
}
#popup:after, #popup:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#popup:after {
	border-bottom-color: #1e8bc3;
	border-width: 15px;
	top: -15px;
	left: -15px;
}


#popup ul, #popup span{
	list-style-type: none;
	padding: 0;
	white-space: nowrap;
}

.popupChoice{
	cursor:pointer;
}

.popupChoice:hover {
    color: #22a7f0;
}

/*======================= Slide 2 (Music) ================= */

#slide2{
	background: url("img/musicBG.png");
}


#Music_title{
	display: inline-block;
	z-index: 1000;
	position: relative;
	margin-top: 30px;
}

#Music_title h3{
	font: 400 80px Verdana;
	color: #ffffff;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
}

#MusicPellet{
	background-color: #1e8bc3;
	position: relative;
}

#MusicPellet img{
	margin: 25px 25px;
	width: 150px;
	height: 150px;
}

#musicSelector{
	position: relative;
	width: 40%;
	margin-left: 30%;
	font: 400 30px Verdana;
	color: #22a7f0;
	text-align: left;
	margin-top: 30px;
	overflow: hidden;
}

#musicSelector-display{
	height: 70px;
	background-color: white;
	padding: 10px;
	padding-left: 50px;
	line-height: 70px;
	vertical-align: middle;
	position: relative;
}

#musicSelector-collapse{
	position: absolute;
	right: 5%;
	color: #22a7f0;
	text-decoration: none;
	border-left: 1px lightGrey solid;
	padding-left: 5%;
}

#musicSelector-list{
	padding: 0;
	height: 350px;
	width: 100%;
	overflow: auto;
	position: relative;
	padding-right: 20px;
}

#musicSelector-list li{
	list-style: none;
	height: 50px;
	background-color: white;
	padding: 10px;
	padding-left: 50px;
	line-height: 50px;
	vertical-align: middle;
	position: relative;
	margin: 0;
	margin-top: 10px;
}

#musicSelector-list li:hover{
	background-color: #1e8bc3;
	color: white;
}

#musicSelector[collapsed="true"] #musicSelector-list{
	display: none;
}



/*======================= Slide 3 (Display) ================= */

/* apply a pattern to the background */
.dotOverlay{
	z-index: 100;
	position: absolute;
	height: 100%;
	width: 100%;
	background: url('img/pattern.png');
}

audio{
	visibility:hidden;
}

#controls {
	
}

ul#controls {}

.volume {
	width: 2em;
	height: 2em;
	/* margin: 1em; */
}

#play-pause, #atc-control, #music-control{
	background-color: #1e8bc3;
	border: 10px solid #22a7f0;
	color : white;
}

#play-pause {
	width: 90px;
	height: 90px;
	line-height: 90px;
	font-size: 50px;
	margin-left: 20px;
}

#atc-control, #music-control{
	width: 90px;
	height: 90px;
	line-height: 70px;
	font-size: 20px;
	border: none;
	background-color: black;
	overflow: hidden;
}

#music-control{
	margin-left: 20px;
}

#playpauseImg{
	margin: 20px 20px;
	width: 50px;
	height: 50px;
}

.pieControl{
	position: absolute;
	width: 90px;
	height: 90px;
	background-color: #22a7f0;
}

.pellet[volume="0"] .pieControl {
	display: none;
}

.pellet[volume="25"] .pieControl {
	left: 45px;
	top: -45px;
}

.pellet[volume="50"] .pieControl {
	left: 45px;
	top: 0px;
}

.pellet[volume="75"] .pieControl {
	left: -45px;
	top: -45px;
	background-color: black;
}

.pellet[volume="75"] {
	background-color: #22a7f0 !important;
}

.pellet[volume="100"] .pieControl {
	left: 0px;
	top: 0px;
}

.insidePellet{
	background-color: #1e8bc3;
	position: absolute;
	left: 10px;
	top: 10px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

/*======================= Loading Screen ================= */

#loadingScreen{
	z-index: 99999;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #1e8bc3;
	text-align: center;
}

#loadingScreen .plane{
	width: 100px;
	height: 100px;
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
	top: 50%;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }