/* apply a pattern to the background */
div.backstretch:before{
	content : "";
	height: 100%;
	width: 100%;
	background: url('img/pattern.png');
	position: absolute;
}

audio{
	visibility:hidden;
}

#controls {
	background-color: rgba(189, 195, 199, 0.7);
	position: absolute;
	bottom: 0em;
	list-style: none;
	padding: 0;
	border-radius: 11px;
	height: 5.3em;
	box-shadow: rgba(12, 12, 12, 0.33) 0px 3px 3px;
}

ul#controls {}

.volume {
	background-image: url('img/volume100.svg');
    background-repeat: no-repeat;
    background-position: center;
}

li {
	height: 3em;
	width: 5em;
	display: inline-block;
	text-align: center;
}

#play-pause {
	background-image: url('img/pause.svg');
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center;
}
